.vs/*
x64/*
Audio-Visualizer/x64/*
/AudioVisualizer/x64/Debug/AudioVisualizer.Build.CppClean.log
/AudioVisualizer/x64/Debug/AudioVisualizer.exe.recipe
/AudioVisualizer/x64/Debug/AudioVisualizer.ilk
/AudioVisualizer/x64/Debug/AudioVisualizer.log
/AudioVisualizer/x64/Debug/AudioVisualizer.vcxproj.FileListAbsolute.txt
/AudioVisualizer/x64/Debug/AudioVisualizerApp.obj
/AudioVisualizer/x64/Debug/gl.obj
/AudioVisualizer/x64/Debug/LoopbackCapture.obj
/AudioVisualizer/x64/Debug/MainApp.obj
/AudioVisualizer/x64/Debug/ProcessHandling.obj
/AudioVisualizer/x64/Debug/ProcessWindow.obj
/AudioVisualizer/x64/Debug/vc143.idb
/AudioVisualizer/x64/Debug/vc143.pdb
/AudioVisualizer/x64/Debug/VisualizerWindow.obj
/AudioVisualizer/x64
